{% extends "mainapp/base.html" %}

{% block content %}

<p>Nejkratší píseň - {{ min }}</p>
<p>Průměrná délka písně - {{ avg }}  </p>
<p>Nejdelší píseň - {{ max }}</p>

<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">

<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax" colspan="3">Nejkratší písně</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">nazev</td>
    <td class="tg-0lax">delka</td>
    <td class="tg-0lax">popularita</td>
  </tr>
{% for song in shortests %}
  <tr>
    <td class="tg-0lax"><a href="{{ song.url }}">{{ song.name }}</a> </td>
    <td class="tg-0lax">{{ song.length }}</td>
    <td class="tg-0lax">{{ song.popularity }}</td>
  </tr>
{% endfor %}

</tbody>
</table>

</div>
<div class="divTableCell">

<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax" colspan="3">Nejdelší písně</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">nazev</td>
    <td class="tg-0lax">delka</td>
    <td class="tg-0lax">popularita</td>
  </tr>
{% for song in longests %}
  <tr>
    <td class="tg-0lax"><a href="{{ song.url }}">{{ song.name }}</a> </td>
    <td class="tg-0lax">{{ song.length }}</td>
    <td class="tg-0lax">{{ song.popularity }}</td>
  </tr>
{% endfor %}

</tbody>
</table>

</div>
</div>
<div class="divTableRow">
<div class="divTableCell">

<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax" colspan="3">Písně nejméně populárních autorů</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">nazev</td>
    <td class="tg-0lax">delka</td>
    <td class="tg-0lax">popularita</td>
  </tr>
{% for song in least_popular %}
  <tr>
    <td class="tg-0lax"><a href="{{ song.url }}">{{ song.name }}</a> </td>
    <td class="tg-0lax">{{ song.length }}</td>
    <td class="tg-0lax">{{ song.popularity }}</td>
  </tr>
{% endfor %}

</tbody>
</table>

</div>
<div class="divTableCell">

<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax" colspan="3">Písně nejpopulárnějších autorů</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">nazev</td>
    <td class="tg-0lax">delka</td>
    <td class="tg-0lax">popularita</td>
  </tr>
{% for song in most_popular %}
  <tr>
    <td class="tg-0lax"><a href="{{ song.url }}">{{ song.name }}</a> </td>
    <td class="tg-0lax">{{ song.length }}</td>
    <td class="tg-0lax">{{ song.popularity }}</td>
  </tr>
{% endfor %}

</tbody>
</table>

</div>
</div>
</div>
</div>
<!-- DivTable.com -->




















{% endblock content %}